@font-face {
  font-family: "Michegar";
  src: local("Michegar"),
    url("/src/assets/fonts/Michegar/Michegar.ttf") format("truetype");
  src: local("Michegar"),
    url("/src/assets/fonts/Michegar/Michegar.woff") format("woff");
}
