// Login
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  form {
    margin-top: 15vh;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  input {
    margin: 2rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  button {
    margin-top: 2rem;
    align-self: center;
    padding: 0.6rem 2rem;
    border: none;
    border-radius: 10px;
    font-size: 2rem;
    &:hover {
      font-style: italic;
    }
  }
}

.password-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30rem;
}

