// Content body
/* #region */
.login-form {
  form {
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  input {
    margin: 2rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
}

/* #endregion */

// Links
/* #region */

.styled-link {
  text-decoration: none;
  &:visited {
    color: $link-colour;
  }
}

.logo-hover {
  &:hover {
    cursor: default;
    font-style: normal;
  }
}

.styled-hover {
  &:hover {
    color: $colour-brown-3;
    cursor: default;
    font-style: italic;
  }
}

/* #endregion */
