
// Links
/* #region */

.styled-link {
  text-decoration: none;
  color: $link-colour;

  &:hover {
    color: $colour-brown-3;
    cursor: default;
    font-style: italic;
  }
  &:visited {
    color: $link-colour;
  }
}

.styled-link-admin {
  text-decoration: none;
  color: $colour-orange-3;
  &:hover {
    color: $colour-brown-3;
    cursor: default;
    font-style: italic;
  }
  &:visited{
    color: $colour-orange-3;
  }
}

.logo-hover {
  &:hover {
    cursor: default;
    font-style: normal;
  }
}


/* #endregion */
