.logo {
  width: 100%;
  padding: 2rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;

 
  

  &__text {
    padding: 0 1rem;
    font-family: $font-fam-logo;
    &__default{
        font-size: 10rem;
      }
      &__isloggedin{
        font-size: 6rem;
      }
  }
  
 
  &__img {
    padding: 0 1rem;
    img {
      height: auto;
    }
    &__default{
      img{
       width: 10rem;
      }
    }
    &__isloggedin{
      img{
        width: 6rem;
       }
    }
  }
}
