.logo {
  width: 100%;
  padding: 2rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;

  &__text {
    padding: 0 1rem;
    font-family: $font-fam-logo;
    font-size: 10rem;
  }
  &__img {
    padding: 0 1rem;
    img {
      height: auto;
      width: 10rem;
    }
  }
}
