.page-wrapper {
  width: 100%;
}

.page-content {
  margin-top: 40vh;

  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__main {
    font-size: $font-size-highlight;
  }
  &__general {
    font-size: $font-size-heading;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    div {
      padding: 0 2rem;
      padding-top: 10rem;
    }
  }
  &__bottom {
    padding: 5rem;
    text-align: center;
    svg {
      height: auto;
      width: 3rem;
    }
  }

  &__auth-button {
    border: none;
    outline: none;
    background-color:transparent;
    svg {
      height: auto;
      
    }
    &__footer{
      svg{
        width: 3rem;
      }
    }
  }
}
