// Colours

// Greys & Blues - for backgrounds
$colour-slate-3: #3b5673;

// Yellow - For text
$colour-yellow-1: #fdfbf5;

// Browns & oranges - for highlights & actives
$colour-brown-3: #ffda82;

// Oranges & reds - for warnings & errors

// Fonts
// Logo Font
$font-logo: Michegar;
