// Colours

// Greys & Blues - for backgrounds
$colour-slate-3: #3b5673;

// Yellow - For text
$colour-yellow-1: #fdfbf5;

// Browns & oranges - for highlights & actives
$colour-brown-3: #ffda82;

// Oranges & reds - for warnings & errors

// Fonts
// Logo Font
$font-fam-logo: Michegar, Pacifico, Trebuchet MS, Helvetica;
$font-fam-content: Ubuntu, Lato, Trebuchet MS, Helvetica;

// Font sizes
$font-size-highlight: 3rem;
$font-size-heading: 2.8rem;

// Secondary definitions
$background-colour: $colour-slate-3;
