// Colours

// Greys & Blues - for backgrounds
$colour-slate-3: #3b5673;

// Yellow - For text
$colour-yellow-1: #fdfbf5;

// Browns & oranges - for highlights & actives
$colour-brown-3: #ffda82;

// Reds - for warnings & errors
$colour-red-3: #C74114;

// Orange -  for Admin
$colour-orange-3: #f1ce6b;

// Fonts
// Logo Font
$font-fam-logo: Michegar, Pacifico, Trebuchet MS, Helvetica;
$font-fam-content: Ubuntu, Lato, Trebuchet MS, Helvetica;

// Font sizes
$font-size-highlight: 3rem;
$font-size-heading: 2.8rem;
$font-size-subheading: 2rem;
$font-size-content: 1.7rem;
$font-size-subtext: 1rem;

// Secondary definitions
$background-colour: $colour-slate-3;
$link-colour: $colour-yellow-1;

// Buttons & Input Fields
$standard-border-radius: 5px;
